css

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#020814;
    overflow:hidden;
    font-family:Arial,sans-serif;
}

body::before{
    content:"";
    position:fixed;
    inset:-100px;
    background:
        radial-gradient(circle at 30% 30%, #0066ff 0%, transparent 25%),
        radial-gradient(circle at 70% 60%, #0044cc 0%, transparent 30%);
    filter:blur(220px);
    opacity:.95;
}

.container{
    width:95%;
    max-width:1000px;
    z-index:2;
}

.title{
    color:#fff;
    text-align:center;
    font-size:40px;
    margin-bottom:18px;
    text-shadow:
        0 0 15px #008cff,
        0 0 35px #008cff,
        0 0 60px #008cff;
}

.player-box{
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(25px);
    border-radius:25px;
    padding:12px;
    border:1px solid rgba(255,255,255,.08);
}

video{
    width:100%;
    border-radius:18px;
    background:#000;
}